<div class="conatainer mx-auto mt-5 mb-5" style="max-width: 500px;">
  <div class="card">
    <div class="card-body">
      <h3>Actualiza el usario</h3>
      <form [formGroup]="userUpdate" (ngSubmit)="updateUser()">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input formControlName="name" type="text" class="form-control form-control-sm" id="name"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              <input formControlName="username" type="text" class="form-control form-control-sm" id="username"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="mail" class="form-label">Correo</label>
              <input formControlName="mail" type="email" class="form-control form-control-sm" id="mail"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Telefono</label>
              <input formControlName="phone" type="text" class="form-control form-control-sm" id="phone"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Direccion</label>
              <input formControlName="address" type="text" class="form-control form-control-sm" id="address"
                autocomplete="off">
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label for="postalCode" class="form-label">Codigo Postal</label>
              <input formControlName="postalCode" type="text" class="form-control form-control-sm" id="postalCode"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="typeOfUser" class="form-label">Tipo de usuario</label>
              <select formControlName="typeOfUser" class="form-select" aria-label="Default select example">
                <option selected>Selecciona</option>
                <option name="typeOfUser" value="Usuario">Usuario</option>
                <option name="typeOfUser" value="Administrador">Administrador</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="state" class="form-label">Estado</label>
              <input formControlName="state" type="text" class="form-control form-control-sm" id="state"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">Ciudad</label>
              <input formControlName="city" type="text" class="form-control form-control-sm" id="city"
                autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contrasena</label>
              <input formControlName="password" type="password" class="form-control form-control-sm" id="password"
                autocomplete="off">
            </div>
          </div>
        </div>
        <a routerLink="/dashboard" class="btn btn-secondary">Volver</a>
        <button type="submit" class="btn btn-primary float-end">Actualizar Usuario</button>
      </form>
    </div>
  </div>
</div>