<div class="container mt-5">
  <!-- <div class="row mt-3"> -->
  <h3>Listado de Comentarios</h3>
  <button type="submit" class="btn-default" routerLink="/create">Agregar Usuario</button>
  <!-- </div> -->
  <table *ngIf="usersList.length > 0" class="table table_horizontal mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Dirccion</th>
        <th scope="col">Codigo Postal</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.address}}</td>
        <td>{{user.postalCode}}</td>
        <td>{{user.typeOfUser}}</td>
        <td>{{user.state}}</td>
        <td>{{user.city}}</td>
        <td style="width: 10%;">
          <button [routerLink]="['/update', user.id]" class="btn btn-primary btn-sm float-end">Editar</button>
        </td>
        <td style="width: 10%;">
          <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm float-end">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="usersList.length == 0" class="row mt-5">
    <h5>No hay comentarios para mostrar</h5>
  </div>
</div>