<div class="container mx-auto mt-5 mb-5" style="max-width: 550px;">
  <div class="card">
    <div class="card-body">
      <form class="form-signin" #loginForm="ngForm" (ngSubmit)="loginAsNormalUser(loginForm)">
        <div class="container-fluid">
          <h2 class="form-signin-heading">Iniciar Sesión Usuario</h2>
          <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
          <br />
          <label for="username" class="sr-only">Usuario</label>
          <input type="email" id="username" name="username" ngModel class="form-control" required autofocus>
          <br />
          <label for="password" class="sr-only">Contraseña</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
          <br />
          <div>
            <button class="btn-default" type="submit">Iniciar Sesión</button>
          </div>
          <div class="mt-3 mb-3">
            <a class="link-primary" routerLink="/loginAdmin">Iniciar Sesión
              como
              Admin</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>